@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    font-family: poppins;
}

* {
    box-sizing: border-box;
}

.main
{
    margin-top: 98px;
}

.main .container {
    padding: 16px;
    background-color: black;
}
.main .container h1
{
    text-align: center;
    font-size: 25px;
    color: hsl(193, 90%, 44%);
}

.main .container .showmsg
{
    color: red;
}

.main .container label
{
    font-size: 15px;
    color: hsl(193, 90%, 44%);
}

.main .container .validation
{
    margin: 1px 0 22px 0;
    color: red;
}

/* Full-width input fields  */
.main input[type=text],
.main input[type=text],
.main textarea,
.main input[type=number],
.main select,
.main input[type=file],
.main input[type=time],
.main input[type=tel]
{
    width: 100%;
    padding: 15px;
    margin: 5px 0 2px 0;
    display: inline-block;
    border: none;
    background: white;
}

.main input[type=text]:focus,
.main input[type=text]:focus,
.main textarea:focus,
.main input[type=number]:focus,
.main select:focus,
.main input[type=checkbox]:focus,
.main input[type=radio]:focus,
.main input[type=file]:focus,
.main input[type=time]:focus,
.main input[type=tel]:focus
{
    background-color: #ddd;
    outline: none;
}

/* Overwrite default styles of hr */
.main hr {
    border: 1px solid darkblue;
    margin-bottom: 25px;
}

/* Set a style for the submit button */
.main .registerbtn {
    color: dodgerblue;
    padding: 16px 20px;
    margin: 8px 0;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    background-color: darkblue;
    font-size: 25px;
}

.main .registerbtn:hover {
    opacity: 3;
}