@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    box-sizing: border-box;
}

.main
{
	margin-top: 98px;
}

.main .container {
    padding: 16px;
    background-color: black;
}

.main .container hr {
    border: 1px solid darkblue;
    margin-bottom: 25px;
}
.main .container h1
{
    color: hsl(193, 90%, 44%);
	text-align: center;
}

.main .container .update, .main .container .delete
{
    color: hsl(0, 90%, 44%);
	text-align: center;
}
.main .container .table{
	width: 100%;
	border-collapse: collapse;
}

.main .container .table th
{
  padding:12px 15px;
  border:1px solid dodgerblue;
  text-align: center;
  font-size:16px;
}

.main .container .table td{
  padding:12px 15px;
  border:1px solid dodgerblue;
  text-align: center;
  font-size:16px;
}

.main .container .table th{
	background-color: black;
    color: hsl(193, 90%, 44%);
}

.main .container .table tbody tr:nth-child(even){
	background-color: black;
}
.table tbody tr td
{
    color: hsl(193, 90%, 44%);
}

.main .container td .button {
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
  }

  .main .container td .button2 
  {
  	background-color: hsl(193, 90%, 44%);
	  opacity: 0.4;
	  height:50px;
  }
  
  /*responsive*/

@media(max-width: 500px){
	.table thead{
		display: none;
	}

	.table, .table tbody, .table tr, .table td{
		display: block;
		width: 100%;
	}
	.table tr{
		margin-bottom:15px;
	}
	.table td{
		text-align: right;
		padding-left: 50%;
		text-align: right;
		position: relative;
	}
	.table td::before{
		content: attr(data-label);
		position: absolute;
		left:0;
		width: 50%;
		padding-left:15px;
		font-size:15px;
		font-weight: bold;
		text-align: left;
	}
}